<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">{{#package}}{{package}} {{version}}{{/package}}</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
      
          {{#vignettes}}
    {{#vignette}}
      <li><a href="vignettes/{{filename}}"><i class="icon-home icon-white"></i>{{title}}</a></li>
    {{/vignette}}
    {{/vignettes}}


      
      
      <li><a href="index.html"><i class="icon-home icon-white"></i>TED</a></li>
<li><a href="index.html"><i class="icon-home icon-white"></i><span class="glyphicon glyphicon-home">  </span>  Home</a></li>


      </ul>
    </div>
  </div>
</nav>

